<!DOCTYPE html>
<html lang="es">

<head>
    <title>Master Code</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <% include ./partials/icono.html%>

    <% include ./partials/estilos.html%>
</head>

<body>
    <div class="super_container">
        <% include ./partials/nabvar.html%>

        <div class="home">
            <div class="home_background_container prlx_parent">
                <div class="home_background prlx" style="background-image:url(../img/7.jpg)"></div>
            </div>
        </div>
        
    </div>
    <% include ./partials/js.html %>

</body>

</html>